<!-- BEGIN: Main Menu-->
<div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
            <li class="nav-item mr-auto"><a class="navbar-brand"
                    href="#">
                    <div class="brand-logo"></div>
                    <h2 class="brand-text mb-0">WFH timur</h2>
                </a></li>
            <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i
                        class="feather icon-x d-block d-xl-none font-medium-4 primary toggle-icon"></i><i
                        class="toggle-icon feather icon-disc font-medium-4 d-none d-xl-block primary"
                        data-ticon="icon-disc"></i></a></li>
        </ul>
    </div>
    <div class="shadow-bottom"></div>
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class=" nav-item"><a href=""><i class="feather icon-home"></i><span class="menu-title"
                        data-i18n="Dashboard">Dashboard</span></a>
            </li>

            <li class=" nav-item"><a href="#"><i class="feather icon-list"></i><span class="menu-title"
                        data-i18n="Usulan 2021">Usulan 2021</span></a>
                <ul class="menu-content">
                    <li><a href="/balai"><i class="feather icon-chevrons-right"></i><span class="menu-item"
                                data-i18n="Balai">Balai</span></a>
                    </li>
                    <li><a href="#"><i class="feather icon-chevrons-right"></i><span class="menu-item"
                                data-i18n="Satker">Satker</span></a>
                    </li>
                    <li><a href="/paket"><i class="feather icon-chevrons-right"></i><span class="menu-item"
                                data-i18n="Paket">Paket</span></a>
                    </li>
                </ul>
            </li>
            <li class=" nav-item"><a href="#"><i class="feather icon-bar-chart"></i><span class="menu-title"
                        data-i18n="Progres">Progres</span></a>
                <ul class="menu-content">
                    <li><a href="/balai"><i class="feather icon-chevrons-right"></i><span class="menu-item"
                                data-i18n="Balai">Balai</span></a>
                    </li>
                    <li><a href="#"><i class="feather icon-chevrons-right"></i><span class="menu-item"
                                data-i18n="Satker">Satker</span></a>
                    </li>
                    <li><a href="/paket"><i class="feather icon-chevrons-right"></i><span class="menu-item"
                                data-i18n="Paket">Paket</span></a>
                    </li>
                </ul>
            </li>
            <li class=" nav-item"><a href="#"><i class="fa fa-database"></i><span class="menu-title"
                        data-i18n="Database">Database</span></a>
                <ul class="menu-content">
                    <li><a href="#"><i class="feather icon-chevron-right"></i><span class="menu-item"
                                data-i18n="Air Tanah">Air Tanah</span></a>
                    </li>
                    <li><a href="#"><i class="feather icon-chevron-right"></i><span class="menu-item"
                                data-i18n="Air Permukaan">Air Permukaan</span></a>
                        <ul class="menu-content">
                            <li><a href="#"><i class="feather icon-chevrons-right"></i><span
                                        class="menu-item" data-i18n="Sungai">Sungai</span></a>
                            </li>
                            <li><a href="#"><i class="feather icon-chevrons-right"></i><span
                                        class="menu-item" data-i18n="WDSE">WDSE</span></a>
                            </li>
                            <li><a href="#"><i class="feather icon-chevrons-right"></i><span
                                        class="menu-item" data-i18n="Mata Air">Mata Air</span></a>
                            </li>
                            <li><a href="#"><i class="feather icon-chevrons-right"></i><span
                                        class="menu-item" data-i18n="PAH">PAH</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class=" nav-item"><a href="#"><i class="feather icon-cloud"></i><span class="menu-title"
                        data-i18n="WS DAS CAT">WS DAS CAT</span></a>
                <ul class="menu-content">
                    <li><a href="#"><i class="feather icon-chevron-right"></i><span class="menu-item"
                                data-i18n="WS">WS</span></a>
                    </li>
                    <li><a href="#"><i class="feather icon-chevron-right"></i><span class="menu-item"
                                data-i18n="DAS">DAS</span></a>
                    </li>
                    <li><a href="#"><i class="feather icon-chevron-right"></i><span class="menu-item"
                                data-i18n="CAT">CAT</span></a>
                    </li>
                </ul>
            </li>
            <li class=" nav-item"><a href="#"><i class="feather icon-map"></i><span class="menu-title"
                        data-i18n="Administrasi">Wilayah Administrasi</span></a>
                <ul class="menu-content">
                    <li><a href="#"><i class="feather icon-chevron-right"></i><span class="menu-item"
                                data-i18n="Provinsi">Provinsi</span></a>
                    </li>
                    <li><a href="#"><i class="feather icon-chevron-right"></i><span class="menu-item"
                                data-i18n="Kabupaten">Kabupaten</span></a>
                    </li>
                    <li><a href="#"><i class="feather icon-chevron-right"></i><span class="menu-item"
                                data-i18n="Kecamatan">Kecamatan</span></a>
                    </li>
                    <li><a href="#"><i class="feather icon-chevron-right"></i><span class="menu-item"
                                data-i18n="Desa">Desa</span></a>
                    </li>
                </ul>
            </li>

            <li class=" nav-item"><a href="#"><i class="feather icon-sidebar"></i><span class="menu-title"
                        data-i18n="PPK">PPK</span></a>
            </li>

        </ul>
    </div>
</div>
<!-- END: Main Menu-->