body {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}

.banner img {
    width: 100%;
    border-radius: 15px;
}

.pilih-pulau img {
    max-height: 100px;
}

.pilih-pulau .card {
    border-radius: 15px;
}

.breadcrumb {
    background-color: transparent;
    padding: 0;
}

.breadcrumb .active {
    font-weight: bold;
    color: black;
}
